name: packer-validate
on:
  pull_request:
    branches: [main]
  
jobs:
  validate:
    name: validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Validate Packet Template
        uses: hashicorp/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: webapp-ami.pkr.hcl
        env:
          PACKER_LOG: 1