name: build-ami

env:
  AWS_REGION: us-east-1

on:
  push:
    branches: [main]

jobs:
  ci_cd:
    name: packer-build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize packer
        uses: hashicorp/packer-github-actions@master
        with:
          command: init
          target: webapp-ami.pkr.hcl
        env:
          PACKET_LOG: 1

      - name: Build the AMI
        uses: hashicorp/packer-github-actions@master
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: webapp-ami.pkr.hcl

        env:
          PACKET_LOG: 1